@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-slide-down {
    animation: slide-down 0.3s ease-out;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* Ensure the portfolio grid is responsive */
@media (min-width: 640px) {
    .portfolio-grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 1.5rem;
    }
}

@media (max-width: 639px) {
    .portfolio-grid {
        display: flex;
        flex-direction: column;
    }
}

/* Ensure images maintain aspect ratio */
.portfolio-image {
    aspect-ratio: 4/3; /* Adjust based on your image dimensions */
    object-fit: contain; /* Prevent cropping */
    width: 100%;
    height: 100%;
}
